* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #151515;
}


.slider {
    width: 100%;
    height: 655px;
    position: relative;

}

.swiper {
    width: 100%;
    height: 100%;

}

.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 61%, rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 0) 100%);
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    opacity: 0.5;
    height: 100%;
    object-fit: cover;

}

.middle img {
    width: 30px;
    opacity: 0.6;
}

.middle .second div {
    display: flex;
    flex-flow: row wrap;
}

.active {
    background-color: #312d2a;
    border-radius: 20px;
    width: 70px;

}

.bottom {
    position: relative;
}

.api2 {
    position: absolute;
    display: none;
}

.api2show {
    display: flex;
}

.api .apiDiv {
    width: 184px;
    height: 245px;
    position: relative;
    border-radius: 10px;

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 10px;
        opacity: 0.7;
        transition: 400ms;

        &:hover {
            opacity: 1;
        }
    }
}

.api .apiDiv img:nth-of-type(2) {
    width: 60%;
    height: auto;
    position: absolute;
    background-color: #151515;
    padding: 5px;
    opacity: 1;
    bottom: 0;
    right: 30px;
}

.api2 div {
    width: 184px;
    height: 245px;
    position: relative;
    border-radius: 10px;

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 10px;
        opacity: 0.9;
        transition: 400ms;

        &:hover {
            opacity: 1;
        }
    }
}

.api2 div img:nth-of-type(2) {
    width: 60%;
    height: auto;
    position: absolute;
    background-color: #151515;
    padding: 5px;
    opacity: 1;
    bottom: 0;
    right: 30px;
}

/* .api div:nth-of-type(6) {
    border: solid white 2px;
} */

.faded {
    background-image: url("../images/photo1719397494.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: coral;



}

.faded2 {
    background-image: url("https://static.cdn.asset.filimo.com/flmt/mov_cvr_filimo_hor_148154_401.jpg?width=1920");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: coral;



}



.faded2show {
    display: flex;
}

.fadedhide {
    opacity: 0.1;
}



.mySwiper-2 .swiper-wrapper div {

    border-radius: 10px;
    height: 100%;
    width: 150px;

    p {
        color: white;
        background-color: #151515;
        font-size: 14px;
        text-align: right;
    }

}

.mySwiper-2 .swiper-wrapper div img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;

}

.cartoon {
    background: rgb(22, 22, 22);
    background: linear-gradient(38deg, rgba(22, 22, 22, 1) 43%, rgba(19, 49, 58, 1) 96%);
}



.mySwiper-3 .swiper-wrapper .swiper-slide {
    width: 100%;
    border-radius: 20px;
    text-align: right;
    position: relative;

    p {
        margin-top: 6px;
    }

    section {
        width: 100%;
        z-index: 10;
        height: 87%;
        position: absolute;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        top: 0;
        background-color: #15151551;

        img {
            width: 30px;
            background-color: #151515cb;
            border-radius: 10px;
        }
    }

}

.mySwiper-3 .swiper-wrapper .swiper-slide>img {

    width: 100%;
    height: auto;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 1) 100%);
    filter: blur(3px);
}

.mySwiper-5 .swiper-wrapper .swiper-slide {
    width: 100%;
    border-radius: 20px;
    text-align: right;
    position: relative;

    p {
        margin-top: 6px;
    }

    section {
        width: 100%;
        z-index: 10;
        height: 87%;
        position: absolute;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        top: 0;
        background-color: #15151551;

        img {
            width: 30px;
            background-color: #151515cb;
            border-radius: 10px;
        }
    }

}

.mySwiper-5 .swiper-wrapper .swiper-slide>img {

    width: 100%;
    height: auto;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 1) 100%);
    filter: blur(3px);
}


.inside .second div {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    img {
        width: 25px;
        opacity: 0.7;
    }
}

.cinema {
    background-image: url("../images/red.jpeg");
    /* background-repeat: no-repeat; */
}

.four {
    background-color: rgba(251, 190, 190, 0.094);
    border: solid 1.5px #2b2b2b;

    div {
        div {
            p {
                background-color: rgba(30, 2, 2, 0.717);

            }
        }
    }
}

.mySwiper-4 .swiper-slide {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    text-align: right;
    color: white;
    font-size: 14px;
    height: 200px;
    position: relative;
    background-color: #1A1A1A;
    border: solid 2px #2b2b2b;
    border-radius: 10px;
    align-items: center;

    section {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        position: absolute;
        width: 100%;
        align-items: center;
        top: 20px;
        right: 30px;

        img:nth-of-type(1) {
            position: absolute;
            left: -96%;
            width: 10%;
        }
    }

    p {
        width: 90%;
        font-size: 12px;

    }
}

.mySwiper-4 div img {
    width: 30px;
    object-fit: cover;
}

.mySwiper-4 {
    position: relative;
}

.mySwiper-3 {
    position: relative;
}

.main {
    position: relative;
}

.main .swiper-button-next {
    width: fit-content;
    height: auto;
    position: absolute;
    padding: 10px;
    color: white;
    background-color: #00000073;
    right: 0;
    font-size: 1px;
    border-radius: 10px;


}

.main .swiper-button-prev {
    width: fit-content;
    height: auto;
    position: absolute;
    padding: 10px;
    color: white;
    background-color: #00000073;
    left: 0;
    font-size: 1px;
    border-radius: 10px;

}

.mySwiper-3 .swiper-button-next {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    top: 40%;
    font-size: 7px;
    border-radius: 50%;
    color: beige;


}

.mySwiper-3 .swiper-button-prev {
    width: 30px;
    height: 20px;
    position: absolute;
    font-size: 7px;
    left: 0;
    top: 40%;
    color: beige;

}

.accordion {
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    color: #E27B3C;
    transition: 0.4s;
}

.active2 {
    display: none;
    transition: 300ms;
}

.footer .second div {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    img {
        width: 25px;
        opacity: 0.7;
    }
}

.submenu {
    opacity: 0;
    transition: 300ms;
}

.submenu2 {
    transition: 300ms;
    opacity: 0;

}

.last .left a:hover+.submenu {
    opacity: 1;
}

.last .right .chosen:hover~.submenu2 {
    opacity: 1;
}



label::before {
    content: '+';
    font-size: 24px;
    font-weight: bold;

}

input[type="radio"] {
    display: none;
}

.accordion .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

input[type="radio"]:checked+label::before {
    content: '-';
    font-size: 24px;
    font-weight: bold;
}

.mySwiper-2 .swiper-slide .free {
    display: flex;
    flex-flow: row;
    width: max-content;
    background-color: #1D2B1F;
    align-items: center;
    column-gap: 6px;
    border-radius: 40px;
    padding: 3px;
    z-index: 20;
    position: absolute;
    right: 1px;
    height: auto;
    top: 6px;
    justify-content: center;

    img {
        width: 16px;
        height: auto;
    }

    p {
        background-color: #15151500;
        color: #1A7340;
        font-size: 12px;
    }
}

@media (max-width: 760px) {
    .mySwiper-2 .swiper-slide .free {
        display: none;
    }

}

@media (max-width: 760px) {
    .mySwiper-3 .swiper-wrapper .swiper-slide section {
        background-color: #15151500;
        top: -13px;
    }


}

@media (max-width: 760px) {
    .mySwiper-5 .swiper-wrapper .swiper-slide section {
        background-color: #15151500;
        top: -13px;
    }


}